<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>内容</title>
</head>
<style>
    form{
       align-content: center;
        margin: 100px;
    }
    div{
        position: absolute;
        left: auto;
        margin: 20px;
        background: rgba(70,100,255,0.2);
        left: 44%;
    }
    #btn{
        position: absolute;
        left: 90px;
    }
</style>
<body>
<form action="/login" method="post">
    <div>
        账号：<input type="text" name="username"/><br>
        密码：<input type="password" name="password"/><br>
        <input type="submit" value="提交" id="btn"/><br>
    </div>

</form>
</body>
</html>